body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1118px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1111px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2853 {
  position:absolute;
  left:7px;
  top:5px;
  width:1111px;
  height:50px;
}
#u2854 {
  position:absolute;
  left:2px;
  top:17px;
  width:1107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u2855 {
  position:absolute;
  left:21px;
  top:16px;
  width:61px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u2856 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2857 {
  position:absolute;
  left:104px;
  top:23px;
  width:14px;
  height:16px;
  font-size:13px;
}
#u2858 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u2859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2859 {
  position:absolute;
  left:139px;
  top:23px;
  width:28px;
  height:16px;
  font-size:13px;
}
#u2860 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u2861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2861 {
  position:absolute;
  left:726px;
  top:23px;
  width:143px;
  height:16px;
  font-size:13px;
}
#u2862 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  white-space:nowrap;
}
#u2863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:26px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2863 {
  position:absolute;
  left:918px;
  top:16px;
  width:90px;
  height:26px;
}
#u2864 {
  position:absolute;
  left:2px;
  top:5px;
  width:86px;
  word-wrap:break-word;
}
#u2865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:26px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2865 {
  position:absolute;
  left:1018px;
  top:16px;
  width:90px;
  height:26px;
}
#u2866 {
  position:absolute;
  left:2px;
  top:5px;
  width:86px;
  word-wrap:break-word;
}
#u2867 {
  position:absolute;
  left:211px;
  top:62px;
  width:907px;
  height:1134px;
  overflow:hidden;
}
#u2867_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:907px;
  height:1134px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u2867_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u2868 {
  position:absolute;
  left:1px;
  top:1px;
  width:97px;
  height:39px;
  color:#949494;
}
#u2868_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u2868.selected {
}
#u2869 {
  position:absolute;
  left:2px;
  top:12px;
  width:93px;
  word-wrap:break-word;
}
#u2870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u2870 {
  position:absolute;
  left:98px;
  top:1px;
  width:97px;
  height:39px;
  color:#949494;
}
#u2870_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u2870.selected {
}
#u2871 {
  position:absolute;
  left:2px;
  top:12px;
  width:93px;
  word-wrap:break-word;
}
#u2872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u2872 {
  position:absolute;
  left:195px;
  top:1px;
  width:97px;
  height:39px;
  color:#949494;
}
#u2872_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u2872.selected {
}
#u2873 {
  position:absolute;
  left:2px;
  top:12px;
  width:93px;
  word-wrap:break-word;
}
#u2874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u2874 {
  position:absolute;
  left:292px;
  top:1px;
  width:97px;
  height:39px;
  color:#949494;
}
#u2874_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u2874.selected {
}
#u2875 {
  position:absolute;
  left:2px;
  top:12px;
  width:93px;
  word-wrap:break-word;
}
#u2876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u2876 {
  position:absolute;
  left:389px;
  top:1px;
  width:97px;
  height:39px;
  color:#949494;
}
#u2876_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u2876.selected {
}
#u2877 {
  position:absolute;
  left:2px;
  top:12px;
  width:93px;
  word-wrap:break-word;
}
#u2878 {
  position:absolute;
  left:1px;
  top:33px;
  width:901px;
  height:863px;
}
#u2878_input {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:863px;
}
#u2867_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:907px;
  height:1134px;
  visibility:hidden;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u2867_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1062px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2879 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1062px;
}
#u2880 {
  position:absolute;
  left:2px;
  top:523px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:872px;
  height:344px;
}
#u2881 {
  position:absolute;
  left:12px;
  top:40px;
  width:872px;
  height:344px;
}
#u2882 {
  position:absolute;
  left:2px;
  top:164px;
  width:868px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2883 {
  position:absolute;
  left:499px;
  top:10px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u2884 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:869px;
  height:339px;
}
#u2885 {
  position:absolute;
  left:10px;
  top:380px;
  width:869px;
  height:339px;
}
#u2886 {
  position:absolute;
  left:2px;
  top:162px;
  width:865px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:866px;
  height:339px;
}
#u2887 {
  position:absolute;
  left:14px;
  top:713px;
  width:866px;
  height:339px;
}
#u2888 {
  position:absolute;
  left:2px;
  top:162px;
  width:862px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u2890 {
  position:absolute;
  left:26px;
  top:6px;
  width:58px;
  height:21px;
}
#u2891 {
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2892 {
  position:absolute;
  left:28px;
  top:182px;
  visibility:hidden;
}
#u2892_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2892_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:502px;
}
#u2893 {
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:502px;
}
#u2894 {
  position:absolute;
  left:2px;
  top:243px;
  width:957px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2895 {
  position:absolute;
  left:407px;
  top:442px;
  width:147px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2896 {
  position:absolute;
  left:918px;
  top:9px;
  width:33px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2897 {
  position:absolute;
  left:800px;
  top:52px;
  width:72px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2898 {
  position:absolute;
  left:800px;
  top:383px;
  width:72px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2899 {
  position:absolute;
  left:798px;
  top:713px;
  width:72px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2867_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:907px;
  height:1134px;
  visibility:hidden;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u2867_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:552px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2900 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:552px;
}
#u2901 {
  position:absolute;
  left:2px;
  top:268px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:878px;
  height:480px;
}
#u2902 {
  position:absolute;
  left:0px;
  top:71px;
  width:878px;
  height:480px;
}
#u2903 {
  position:absolute;
  left:2px;
  top:232px;
  width:874px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2904 {
  position:absolute;
  left:538px;
  top:7px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u2905 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2906 {
  position:absolute;
  left:9px;
  top:80px;
  width:201px;
  height:35px;
}
#u2906_input {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u2906_input:disabled {
  color:grayText;
}
#u2907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(63, 203, 221, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2907 {
  position:absolute;
  left:9px;
  top:34px;
  width:200px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u2908 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u2909 {
  position:fixed;
  left:7px;
  top:62px;
  width:194px;
  height:1134px;
  overflow:hidden;
}
#u2909_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:1134px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2909_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:1131px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2910 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:1131px;
}
#u2911 {
  position:absolute;
  left:2px;
  top:558px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2912 {
  position:absolute;
  left:8px;
  top:32px;
  width:173px;
  height:29px;
}
#u2912_input {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2912_input:disabled {
  color:grayText;
}
#u2913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u2913 {
  position:absolute;
  left:1px;
  top:73px;
  width:180px;
  height:38px;
  font-size:16px;
  text-align:left;
}
#u2913_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(25, 158, 216, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u2913.selected {
}
#u2914 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u2915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u2915 {
  position:absolute;
  left:1px;
  top:111px;
  width:180px;
  height:38px;
  font-size:16px;
  text-align:left;
}
#u2915_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(25, 158, 216, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u2915.selected {
}
#u2916 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u2917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u2917 {
  position:absolute;
  left:1px;
  top:149px;
  width:180px;
  height:38px;
  font-size:16px;
  text-align:left;
}
#u2917_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(25, 158, 216, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u2917.selected {
}
#u2918 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u2919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u2919 {
  position:absolute;
  left:7px;
  top:9px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u2920 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2921 {
  position:absolute;
  left:372px;
  top:23px;
  width:95px;
  height:16px;
  font-size:13px;
}
#u2922 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u2923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#000000;
}
#u2923 {
  position:absolute;
  left:203px;
  top:23px;
  width:118px;
  height:16px;
  font-size:13px;
  color:#000000;
}
#u2924 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u2925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2925 {
  position:absolute;
  left:499px;
  top:23px;
  width:105px;
  height:16px;
  font-size:13px;
}
#u2926 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u2927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2927 {
  position:absolute;
  left:633px;
  top:23px;
  width:60px;
  height:16px;
  font-size:13px;
}
#u2928 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
