body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:284px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6940 {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:525px;
  overflow:hidden;
}
#u6940_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:525px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6940_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:155px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6941 {
  position:absolute;
  left:6px;
  top:117px;
  width:269px;
  height:155px;
}
#u6942 {
  position:absolute;
  left:2px;
  top:70px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:89px;
}
#u6943 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:89px;
}
#u6944 {
  position:absolute;
  left:2px;
  top:36px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:53px;
}
#u6945 {
  position:absolute;
  left:9px;
  top:119px;
  width:77px;
  height:53px;
}
#u6946 {
  position:absolute;
  left:2px;
  top:18px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:54px;
}
#u6947 {
  position:absolute;
  left:109px;
  top:120px;
  width:63px;
  height:54px;
}
#u6948 {
  position:absolute;
  left:2px;
  top:19px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u6949 {
  position:absolute;
  left:116px;
  top:173px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u6950 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u6951 {
  position:absolute;
  left:23px;
  top:173px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u6952 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:56px;
}
#u6953 {
  position:absolute;
  left:202px;
  top:118px;
  width:70px;
  height:56px;
}
#u6954 {
  position:absolute;
  left:2px;
  top:20px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u6955 {
  position:absolute;
  left:213px;
  top:172px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u6956 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:55px;
}
#u6957 {
  position:absolute;
  left:19px;
  top:197px;
  width:58px;
  height:55px;
}
#u6958 {
  position:absolute;
  left:2px;
  top:20px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u6959 {
  position:absolute;
  left:23px;
  top:249px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u6960 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:51px;
}
#u6961 {
  position:absolute;
  left:205px;
  top:199px;
  width:60px;
  height:51px;
}
#u6962 {
  position:absolute;
  left:2px;
  top:18px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u6963 {
  position:absolute;
  left:211px;
  top:249px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u6964 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:55px;
}
#u6965 {
  position:absolute;
  left:104px;
  top:195px;
  width:63px;
  height:55px;
}
#u6966 {
  position:absolute;
  left:2px;
  top:20px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u6967 {
  position:absolute;
  left:114px;
  top:249px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u6968 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6969 {
  position:absolute;
  left:18px;
  top:122px;
  width:61px;
  height:73px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6970 {
  position:absolute;
  left:111px;
  top:122px;
  width:61px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6971 {
  position:absolute;
  left:207px;
  top:122px;
  width:61px;
  height:71px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6972 {
  position:absolute;
  left:17px;
  top:198px;
  width:61px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6973 {
  position:absolute;
  left:107px;
  top:200px;
  width:61px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u6974 {
  position:absolute;
  left:0px;
  top:89px;
  width:282px;
  height:25px;
  font-size:12px;
  text-align:left;
}
#u6975 {
  position:absolute;
  left:2px;
  top:5px;
  width:278px;
  word-wrap:break-word;
}
#u6976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u6976 {
  position:absolute;
  left:7px;
  top:92px;
  width:19px;
  height:18px;
}
#u6977 {
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u6978 {
  position:absolute;
  left:18px;
  top:8px;
  width:228px;
  height:28px;
  font-size:18px;
}
#u6979 {
  position:absolute;
  left:2px;
  top:3px;
  width:224px;
  word-wrap:break-word;
}
#u6980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:154px;
}
#u6980 {
  position:absolute;
  left:-3px;
  top:306px;
  width:284px;
  height:154px;
}
#u6981 {
  position:absolute;
  left:2px;
  top:69px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:30px;
}
#u6982 {
  position:absolute;
  left:-1px;
  top:282px;
  width:283px;
  height:30px;
}
#u6983 {
  position:absolute;
  left:2px;
  top:7px;
  width:279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:25px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u6984 {
  position:absolute;
  left:30px;
  top:280px;
  width:181px;
  height:25px;
  font-size:12px;
  text-align:left;
}
#u6985 {
  position:absolute;
  left:2px;
  top:5px;
  width:177px;
  word-wrap:break-word;
}
