body {
  margin:0px;
  background-color:rgba(236, 237, 238, 1);
  background-image:none;
  position:static;
  left:auto;
  width:281px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:389px;
}
#u8175 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:389px;
}
#u8176 {
  position:absolute;
  left:2px;
  top:186px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
