body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:282px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:523px;
}
#u7648 {
  position:absolute;
  left:1px;
  top:3px;
  width:281px;
  height:523px;
}
#u7649 {
  position:absolute;
  left:2px;
  top:254px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
