body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1043px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1043px;
  height:749px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6275 {
  position:absolute;
  left:0px;
  top:0px;
  width:1043px;
  height:749px;
}
#u6276 {
  position:absolute;
  left:2px;
  top:366px;
  width:1039px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6277 {
  position:absolute;
  left:25px;
  top:17px;
}
#u6277_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u6277_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6278 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#33A7FC;
}
#u6279 {
  position:absolute;
  left:290px;
  top:560px;
  width:9px;
  height:16px;
  color:#33A7FC;
}
#u6280 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u6281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6281 {
  position:absolute;
  left:305px;
  top:560px;
  width:71px;
  height:20px;
}
#u6282 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6283 {
  position:absolute;
  left:271px;
  top:559px;
  width:15px;
  height:20px;
}
#u6284 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u6285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#33A7FC;
}
#u6285 {
  position:absolute;
  left:379px;
  top:560px;
  width:9px;
  height:20px;
  color:#33A7FC;
}
#u6286 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u6287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6287 {
  position:absolute;
  left:390px;
  top:560px;
  width:29px;
  height:20px;
}
#u6288 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6289 {
  position:absolute;
  left:419px;
  top:560px;
  width:43px;
  height:20px;
}
#u6290 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u6291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6291 {
  position:absolute;
  left:493px;
  top:561px;
  width:15px;
  height:20px;
}
#u6292 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u6293 {
  position:absolute;
  left:465px;
  top:557px;
  width:21px;
  height:20px;
}
#u6293_input {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u6294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6294 {
  position:absolute;
  left:518px;
  top:558px;
  width:20px;
  height:20px;
}
#u6294_img.disabled {
}
#u6294.disabled {
}
#u6295 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u6296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6296 {
  position:absolute;
  left:582px;
  top:558px;
  width:20px;
  height:20px;
}
#u6296_img.disabled {
}
#u6296.disabled {
}
#u6297 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u6298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6298 {
  position:absolute;
  left:552px;
  top:558px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u6299 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u6300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6300 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u6301 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u6302 {
  position:absolute;
  left:0px;
  top:33px;
  width:82px;
  height:36px;
  color:#000000;
}
#u6302_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(56, 81, 145, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u6302.selected {
}
#u6303 {
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u6304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u6304 {
  position:absolute;
  left:67px;
  top:26px;
  width:19px;
  height:19px;
  color:#FFFFFF;
}
#u6305 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  word-wrap:break-word;
}
#u6306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6306 {
  position:absolute;
  left:122px;
  top:32px;
  width:165px;
  height:36px;
}
#u6306_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(56, 81, 145, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6306.selected {
}
#u6307 {
  position:absolute;
  left:2px;
  top:10px;
  width:161px;
  word-wrap:break-word;
}
#u6308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u6308 {
  position:absolute;
  left:275px;
  top:25px;
  width:19px;
  height:19px;
  color:#FFFFFF;
}
#u6309 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  word-wrap:break-word;
}
#u6310 {
  position:absolute;
  left:4px;
  top:81px;
  width:711px;
  height:95px;
}
#u6311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:30px;
}
#u6311 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6312 {
  position:absolute;
  left:2px;
  top:5px;
  width:34px;
  word-wrap:break-word;
}
#u6313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u6313 {
  position:absolute;
  left:38px;
  top:0px;
  width:140px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6314 {
  position:absolute;
  left:2px;
  top:5px;
  width:136px;
  word-wrap:break-word;
}
#u6315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
}
#u6315 {
  position:absolute;
  left:178px;
  top:0px;
  width:280px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6316 {
  position:absolute;
  left:2px;
  top:5px;
  width:276px;
  word-wrap:break-word;
}
#u6317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u6317 {
  position:absolute;
  left:458px;
  top:0px;
  width:120px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6318 {
  position:absolute;
  left:2px;
  top:5px;
  width:116px;
  word-wrap:break-word;
}
#u6319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u6319 {
  position:absolute;
  left:578px;
  top:0px;
  width:128px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6320 {
  position:absolute;
  left:2px;
  top:5px;
  width:124px;
  word-wrap:break-word;
}
#u6321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:30px;
}
#u6321 {
  position:absolute;
  left:0px;
  top:30px;
  width:38px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6322 {
  position:absolute;
  left:2px;
  top:5px;
  width:34px;
  word-wrap:break-word;
}
#u6323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u6323 {
  position:absolute;
  left:38px;
  top:30px;
  width:140px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6324 {
  position:absolute;
  left:2px;
  top:5px;
  width:136px;
  word-wrap:break-word;
}
#u6325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
}
#u6325 {
  position:absolute;
  left:178px;
  top:30px;
  width:280px;
  height:30px;
  font-size:14px;
}
#u6326 {
  position:absolute;
  left:2px;
  top:7px;
  width:276px;
  word-wrap:break-word;
}
#u6327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u6327 {
  position:absolute;
  left:458px;
  top:30px;
  width:120px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6328 {
  position:absolute;
  left:2px;
  top:5px;
  width:116px;
  word-wrap:break-word;
}
#u6329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u6329 {
  position:absolute;
  left:578px;
  top:30px;
  width:128px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline;
  color:#169BD5;
}
#u6330 {
  position:absolute;
  left:2px;
  top:5px;
  width:124px;
  word-wrap:break-word;
}
#u6331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:30px;
}
#u6331 {
  position:absolute;
  left:0px;
  top:60px;
  width:38px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6332 {
  position:absolute;
  left:2px;
  top:5px;
  width:34px;
  word-wrap:break-word;
}
#u6333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u6333 {
  position:absolute;
  left:38px;
  top:60px;
  width:140px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6334 {
  position:absolute;
  left:2px;
  top:5px;
  width:136px;
  word-wrap:break-word;
}
#u6335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
}
#u6335 {
  position:absolute;
  left:178px;
  top:60px;
  width:280px;
  height:30px;
  font-size:14px;
}
#u6336 {
  position:absolute;
  left:2px;
  top:7px;
  width:276px;
  word-wrap:break-word;
}
#u6337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u6337 {
  position:absolute;
  left:458px;
  top:60px;
  width:120px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6338 {
  position:absolute;
  left:2px;
  top:5px;
  width:116px;
  word-wrap:break-word;
}
#u6339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u6339 {
  position:absolute;
  left:578px;
  top:60px;
  width:128px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline;
  color:#169BD5;
}
#u6340 {
  position:absolute;
  left:2px;
  top:5px;
  width:124px;
  word-wrap:break-word;
}
#u6341 {
  position:absolute;
  left:613px;
  top:112px;
  width:72px;
  height:59px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6277_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u6277_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u6342 {
  position:absolute;
  left:25px;
  top:9px;
  width:109px;
  height:22px;
  font-size:18px;
}
#u6343 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u6344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6344 {
  position:absolute;
  left:890px;
  top:435px;
  width:79px;
  height:30px;
}
#u6345 {
  position:absolute;
  left:2px;
  top:7px;
  width:75px;
  word-wrap:break-word;
}
#u6346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:973px;
  height:456px;
}
#u6346 {
  position:absolute;
  left:7px;
  top:50px;
  width:973px;
  height:456px;
}
#u6347 {
  position:absolute;
  left:2px;
  top:220px;
  width:969px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:30px;
}
#u6348 {
  position:absolute;
  left:9px;
  top:6px;
  width:5px;
  height:30px;
}
#u6349 {
  position:absolute;
  left:2px;
  top:7px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(62, 175, 224, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3EAFE0;
}
#u6350 {
  position:absolute;
  left:889px;
  top:10px;
  width:90px;
  height:30px;
  color:#3EAFE0;
}
#u6351 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
