body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:284px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:73px;
}
#u8290 {
  position:absolute;
  left:2px;
  top:0px;
  width:282px;
  height:73px;
}
#u8291 {
  position:absolute;
  left:2px;
  top:28px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:357px;
}
#u8292 {
  position:absolute;
  left:1px;
  top:73px;
  width:281px;
  height:357px;
}
#u8293 {
  position:absolute;
  left:2px;
  top:170px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:179px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8294 {
  position:absolute;
  left:0px;
  top:346px;
  width:282px;
  height:179px;
}
#u8295 {
  position:absolute;
  left:2px;
  top:82px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
