body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:270px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:310px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8190 {
  position:absolute;
  left:15px;
  top:53px;
  width:255px;
  height:310px;
}
#u8191 {
  position:absolute;
  left:2px;
  top:147px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u8192 {
  position:absolute;
  left:8px;
  top:4px;
  width:12px;
  height:22px;
  font-size:18px;
  color:#000000;
}
#u8193 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u8194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u8194 {
  position:absolute;
  left:36px;
  top:6px;
  width:57px;
  height:16px;
  color:#000000;
}
#u8195 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8196 {
  position:absolute;
  left:3px;
  top:4px;
  width:25px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8197 {
  position:absolute;
  left:15px;
  top:33px;
  width:99px;
  height:16px;
}
#u8198 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u8199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8199 {
  position:absolute;
  left:22px;
  top:62px;
  width:141px;
  height:16px;
}
#u8200 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u8201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u8201 {
  position:absolute;
  left:23px;
  top:85px;
  width:29px;
  height:16px;
  color:#0099FF;
}
#u8202 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8203 {
  position:absolute;
  left:13px;
  top:478px;
  width:255px;
  height:40px;
}
#u8204 {
  position:absolute;
  left:2px;
  top:12px;
  width:251px;
  word-wrap:break-word;
}
#u8205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8205 {
  position:absolute;
  left:200px;
  top:30px;
  width:20px;
  height:20px;
}
#u8206 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u8207 {
  position:absolute;
  left:62px;
  top:85px;
  width:29px;
  height:16px;
  color:#0099FF;
}
#u8208 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:2px;
}
#u8209 {
  position:absolute;
  left:23px;
  top:111px;
  width:233px;
  height:1px;
}
#u8210 {
  position:absolute;
  left:2px;
  top:-8px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8211 {
  position:absolute;
  left:22px;
  top:122px;
  width:99px;
  height:16px;
}
#u8212 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u8213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u8213 {
  position:absolute;
  left:23px;
  top:145px;
  width:29px;
  height:16px;
  color:#0099FF;
}
#u8214 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u8215 {
  position:absolute;
  left:62px;
  top:145px;
  width:29px;
  height:16px;
  color:#0099FF;
}
#u8216 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:2px;
}
#u8217 {
  position:absolute;
  left:23px;
  top:171px;
  width:233px;
  height:1px;
}
#u8218 {
  position:absolute;
  left:2px;
  top:-8px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CACACA;
}
#u8219 {
  position:absolute;
  left:221px;
  top:32px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#CACACA;
}
#u8220 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u8221 {
  position:absolute;
  left:141px;
  top:6px;
  width:29px;
  height:16px;
  color:#000000;
}
#u8222 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
  line-height:6px;
}
#u8223 {
  position:absolute;
  left:262px;
  top:2px;
  width:5px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
  line-height:6px;
}
#u8224 {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  word-wrap:break-word;
}
#u8225 {
  position:absolute;
  left:204px;
  top:25px;
  visibility:hidden;
}
#u8225_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u8225_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u8226 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  color:#000000;
  text-align:center;
}
#u8227 {
  position:absolute;
  left:0px;
  top:3px;
  width:64px;
  word-wrap:break-word;
}
